{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>this is the aboutpage</h1>
      <p>about this page... its made in go</p>
    </div>
  </div>
</div>
{{ end }}
