{{template "base" .}}

{{define "content"}}
<div class="container">
  <div class="row">
    <div class="col">
      <h1>this is the homepage</h1>
      <p>THis is the best first go home page ever!</p>
    </div>
  </div>
</div>
{{ end }}
